.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

legend {
  background-color: #7fbfff;
  color: #fff;
}

.my-fieldset{
    border: 3px solid;
}

.center {
  margin: auto;
  width: 50%;
  padding: 0px;
}

.center2 {
  margin: auto;
  width:70%;
  padding: 0px;
}
.center3 {
  margin: auto;
  width:30%;
  padding: 0px;
}
.center4 {
  margin: auto;
  width:100%;
  padding: 0px;
}
input{
  text-align:center;
}